<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TarkLogs:serviceDescription" value="TarkNoIP" />
    <add key="TarkLogs:host" value="192.168.1.6" />
    <add key="TarkLogs:timeout" value="5" /> 
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
